<div class="inventory-list favourite">
	{{#if favItems}}
		<ol class="fav-item">
			<li class="item inventory-header flexrow">
				<h3>Item</h3>
				<div class="item-detail uses">Quantity</div>
				<div class="item-detail item-controls">Control</div>
			</li>
			{{#each favItems as |item id|}}
				{{> "modules/alt5e/templates/item.hbs" item=item}}
			{{/each}}
		</ol>
	{{/if}}
	{{#if favFeats}}
		<ol class="fav-feat">
			<li class="item inventory-header"><h3>Features & Feats</h3></li>
			{{#each favFeats as |feat lvl|}}
				{{> "modules/alt5e/templates/item.hbs" item=feat}}
			{{/each}}
		</ol>
	{{/if}}
	{{#if favSpells}}
		<ol class="fav-spell">
			{{#each favSpells as |section lvl|}}
				{{#if section.spells}}
					{{#if lvl}}
						<li class="item inventory-header flexrow">                        
							<h3>
								{{#if section.isCantrip}}Cantrips{{else}}Spell Level {{lvl}}{{/if}}
							</h3>
							<div class="item-detail uses">Components</div>
							{{#if section.isCantrip}}
								<div class="item-detail item-controls">Control</div>
							{{else}}
								<span class="fav-spell-slots">
									<input type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.value" value="{{section.value}}" placeholder="0"/>
									/
									<input type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.max" value="{{section.max}}" placeholder="0"/>
								</span>
							{{/if}}
						</li>
							{{#each section.spells as |spell id|}}
								{{> "modules/alt5e/templates/item.hbs" item=spell}}
							{{/each}}
					{{/if}}
				{{/if}}
			{{/each}}
		</ol>
	{{/if}}
</div>